<div class="footer-wrapper">
  <footer class="grid">
    <div class="one-third">
      <h4 class="footer-header">A joint project by</h4>
      <ul class="collaborators">
        <li><a href="https://buckleywilliams.com">Buckley Williams</a></li>
        <li><a href="https://doteveryone.org.uk">Doteveryone</a></li>
        <li><a href="https://www.betc.co.uk">BETC London</a></li>
      </ul>
    </div>
    <div class="one-third">
      <h4 class="footer-header">Suggestions welcome</h4>
      <p>Help us improve this site and the tool. Send your suggestions to <a href="#">example@example.com</a> or submit your changes on GitHub.</p>
    </div>
  </footer>
</div>
